$def with (output)
<!doctype html>
<script type="text/javascript">
	//Init
	//var IImagePath="E:\网页开发\demo3\static\data\1.jpg";
    window.IImagePath="$output['IImagePath']";
	var taskid=$output['taskid'];
	var pagenum=$output['pagenum'];
	var sumpage=$output['sumpage'];



	window.subpage=$output['subpage'];


	function PrePgae(){
		if(pagenum<=1){

		}
		else{
		    pagenum=pagenum-1;
		    loadurl(window.subpage,pagenum);
		}
	}

		function loadurl(subpage,pagenum){
		        if(subpage==window.subpage){
            }else{
            alert("biaoding.html?subpage="+subpage+"&pagenum=1&taskid="+taskid);
		    window.location.herf = "biaoding.html?subpage="+subpage+"&pagenum=1&taskid="+taskid;
            alert("biaoding.html?subpage="+subpage+"&pagenum=1&taskid="+taskid);
		    }
		}


</script>


<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/style.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="static/css/style_cebian.css" type="text/css" media="all"/>

    <script type="text/javascript" src="http://www.pengyaou.com/jquery-1.4.min.js"></script>
    <script src="static/js/biaoding.js" type="text/javascript"></script>
    <title>density estimation</title>
</head>

<body>
<!-- Header -->
<div id="header">
    <div class="shell">

        <!-- Logo -->
        <!--<h1 id="logo"><a href="#"></a></h1>-->
        <!-- End Logo -->

        <!-- Navigation -->
        <div id="navigation">
            <ul>
                <li><a href="index.html">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
                <li><a href="#">帮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;助</a></li>
            </ul>
        </div>
        <!-- End Navigation -->

    </div>
</div>
<!-- End Header -->


<div id="main">
    <div id="TabMain">
        <div class="tabItemContainer">
            <li><a class="tabItemCurrent" onclick="loadurl(0,1)">当前任务</a></li>
            <li><a onclick="loadurl(1,1)">标定人数</a></li>
            <li><a onclick="loadurl(2,1)">标定灭点</a></li>
        </div>
        <div class="tabBodyContainer">
            <div class="tabBodyItem tabBodyCurrent">
                <p></p>
                <p></p>
            </div>
            <div class="tabBodyItem">

                <canvas id="myCanvas" width="640" height="480" style="border:1px solid #c3c3c3;">Your browser does not
                    support the canvas element.
                </canvas>
                <p>显示当前点坐标：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <p id="signal_x"></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <p id="signal_y"></p>
                <div class="clear"></div>
                <button type="button">上一张</button>
                <button type="button">下一张</button>
            </div>
            <div class="tabBodyItem">
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>


<!-- Footer -->
<div id="footer">
    <div class="shell">
        <p class="left">
            <a href="#">地址</a>
            <span>|</span>
            <a href="#">邮编</a>
            <span>|</span>
            <a href="#">电话</a>
            <span>|</span>
            <a href="#">邮箱</a>
        </p>
        <p class="right">&copy; Company Name. </p>
    </div>
</div>
<!-- End Footer -->

</body>
</html>
