<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
	<title>density estimation</title>
    <link rel="stylesheet" href="static/css/bootstrap.css" type="text/css" media="all" />
    <link rel="stylesheet" href="static/css/style.css" type="text/css" media="all" />
       
	<script src="static/js/jquery-1.4.1.min.js" type="text/javascript"></script>
	<script src="static/js/jquery.jcarousel.pack.js" type="text/javascript"></script>
	<script src="static/js/jquery-func.js" type="text/javascript"></script>	
</head>
<body>
	
<!-- Header -->
<div id="header">
	<div class="shell">
		
		<!-- Logo -->
		<!--<h1 id="logo"><a href="#"></a></h1>-->
		<!-- End Logo -->
		
		<!-- Navigation -->
		<div id="navigation">
			<ul>
			    <li><a href="#">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
                <li><a href="#">帮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;助</a></li>
			</ul>
		</div>
		<!-- End Navigation -->
		
	</div>
</div>
<!-- End Header -->



<!-- Slider -->
<div id="slider">
	<div class="shell">
		
		<div class="slider-holder">
			<div class="slides">
				<ul>
									    	
					<!-- Slide -->
				    <li>
				    	<div class="slide-bg">
					    	<div class="slide-image">
					    		<a href="#"><img src="static/css/images/slide-image.jpg" alt="" /></a>
					    	</div>
					    	<div class="slide-info">
					    		<h2></h2>
					    		<p></p>				    		
					    	</div>
				    	</div>
				    	<span class="slide-shadow">&nbsp;</span>
				    </li>
				    <!-- End Slide -->
				    
				    <!-- Slide -->
				    <li>
				    	<div class="slide-bg">
					    	<div class="slide-image">
					    		<a href="#"><img src="static/css/images/slide-image.jpg" alt="" /></a>
					    	</div>
					    	<div class="slide-info">
					    		<h2></h2>
					    		<p></p>
					    		
					    		
					    	</div>
				    	</div>
				    	<span class="slide-shadow">&nbsp;</span>
				    </li>
				    <!-- End Slide -->
				    
				    <!-- Slide -->
				    <li>
				    	<div class="slide-bg">
					    	<div class="slide-image">
					    		<a href="#"><img src="static/css/images/slide-image.jpg" alt="" /></a>
					    	</div>
					    	<div class="slide-info">
					    		<h2></h2>
					    		<p></p>
					    		
					    		
					    	</div>
				    	</div>
				    	<span class="slide-shadow">&nbsp;</span>
				    </li>
					<!-- End Slide -->
				    
			    </ul>
			</div>
			
			<!-- Slider Navigation -->
			<div class="slider-nav">
				<a href="#" class="prev">previous</a>
				<a href="#" class="next">next</a>
			</div>
			<!-- End Slider Navigation -->
		</div>
		
	</div>
</div>
<!-- End Slider -->

<!-- Main -->
<div id="main">
	<div class="shell">
<!--   <div class="container">-->
        <div class="col-md-4">
          <div class="content-grids">
            <div class="content-left">
            	<span class="cnt1"> </span>
            </div>
            <div class="content-right">
            	<h3>初&nbsp;&nbsp;始&nbsp;&nbsp;化</h3>
            	<p>摄像机任务的参数设置</p>
            	<a href="setting.html">MORE</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="content-grids">
            <div class="content-left"> <span class="cnt2"></span></div>
            <div class="content-right">
              <h3>标定程序</h3>
              <p>用于标定人数与标定灭点</p>
              <a href="biaoding.html">MORE</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="content-grids">
            <div class="content-left"> <span class="cnt3"></span></div>
            <div class="content-right">
              <h3>结果展示</h3>
              <p>以百度热力图的形式显示结果</p>
              <a href="hotmap.html">MORE</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
<!--	</div>-->
    </div>
</div>
<!-- End Main -->

<!-- Footer -->
<div id="footer">
	<div class="shell">
    	<p class="left">
			<a href="#">地址</a>
			<span>|</span>
			<a href="#">邮编</a>
            <span>|</span>
			<a href="#">电话</a>
			<span>|</span>
			<a href="#">邮箱</a>
		</p>
		<p class="right">&copy; Company Name. </p>
	</div>
</div>
<!-- End Footer -->

</body>
</html>